# Original pre-course practice files (kept locally, not part of this
# course repo - untracked on request, not deleted from disk)
/declare_intialize_variables
/declare_intialize_variables.cpp
/ex1
/ex1.cpp
/ex2
/ex2.cpp
/ex3
/ex3.cpp
/nhaa
/nhaa.cpp
/sample2
/sample2.cpp
/sample3
/sample3.cpp
/sample4
/sample4.cpp
/simple
/simple.cpp

# Compiled binaries (we commit source .cpp files, never the compiled output)
*.exe
*.out
*.o
*.obj

# Compiled binaries that have no file extension (typical g++ output on macOS/Linux),
# inside any examples/, exercises/, or project/ folder across every module.
01-basics-of-programming/examples/*
!01-basics-of-programming/examples/*.cpp
01-basics-of-programming/exercises/*
!01-basics-of-programming/exercises/solutions
!01-basics-of-programming/exercises/*.cpp
01-basics-of-programming/exercises/solutions/*
!01-basics-of-programming/exercises/solutions/*.cpp
01-basics-of-programming/project/*
!01-basics-of-programming/project/*.cpp
!01-basics-of-programming/project/*.md
02-data-types/examples/*
!02-data-types/examples/*.cpp
02-data-types/exercises/*
!02-data-types/exercises/solutions
!02-data-types/exercises/*.cpp
02-data-types/exercises/solutions/*
!02-data-types/exercises/solutions/*.cpp
02-data-types/project/*
!02-data-types/project/*.cpp
!02-data-types/project/*.md
03-variables/examples/*
!03-variables/examples/*.cpp
03-variables/exercises/*
!03-variables/exercises/solutions
!03-variables/exercises/*.cpp
03-variables/exercises/solutions/*
!03-variables/exercises/solutions/*.cpp
03-variables/project/*
!03-variables/project/*.cpp
!03-variables/project/*.md
04-control-structures/examples/*
!04-control-structures/examples/*.cpp
04-control-structures/exercises/*
!04-control-structures/exercises/solutions
!04-control-structures/exercises/*.cpp
04-control-structures/exercises/solutions/*
!04-control-structures/exercises/solutions/*.cpp
04-control-structures/project/*
!04-control-structures/project/*.cpp
!04-control-structures/project/*.md
05-data-structures/examples/*
!05-data-structures/examples/*.cpp
05-data-structures/exercises/*
!05-data-structures/exercises/solutions
!05-data-structures/exercises/*.cpp
05-data-structures/exercises/solutions/*
!05-data-structures/exercises/solutions/*.cpp
05-data-structures/project/*
!05-data-structures/project/*.cpp
!05-data-structures/project/*.md
06-functions-i/examples/*
!06-functions-i/examples/*.cpp
06-functions-i/exercises/*
!06-functions-i/exercises/solutions
!06-functions-i/exercises/*.cpp
06-functions-i/exercises/solutions/*
!06-functions-i/exercises/solutions/*.cpp
06-functions-i/project/*
!06-functions-i/project/*.cpp
!06-functions-i/project/*.md
07-functions-ii/examples/*
!07-functions-ii/examples/*.cpp
07-functions-ii/exercises/*
!07-functions-ii/exercises/solutions
!07-functions-ii/exercises/*.cpp
07-functions-ii/exercises/solutions/*
!07-functions-ii/exercises/solutions/*.cpp
07-functions-ii/project/*
!07-functions-ii/project/*.cpp
!07-functions-ii/project/*.md
08-classes-and-objects/examples/*
!08-classes-and-objects/examples/*.cpp
08-classes-and-objects/exercises/*
!08-classes-and-objects/exercises/solutions
!08-classes-and-objects/exercises/*.cpp
08-classes-and-objects/exercises/solutions/*
!08-classes-and-objects/exercises/solutions/*.cpp
08-classes-and-objects/project/*
!08-classes-and-objects/project/*.cpp
!08-classes-and-objects/project/*.md
09-capstone-project/*
!09-capstone-project/*.cpp
!09-capstone-project/*.md
10-pointers-dynamic-memory/examples/*
!10-pointers-dynamic-memory/examples/*.cpp
10-pointers-dynamic-memory/exercises/*
!10-pointers-dynamic-memory/exercises/solutions
!10-pointers-dynamic-memory/exercises/*.cpp
10-pointers-dynamic-memory/exercises/solutions/*
!10-pointers-dynamic-memory/exercises/solutions/*.cpp
10-pointers-dynamic-memory/project/*
!10-pointers-dynamic-memory/project/*.cpp
!10-pointers-dynamic-memory/project/*.md
11-inheritance/examples/*
!11-inheritance/examples/*.cpp
11-inheritance/exercises/*
!11-inheritance/exercises/solutions
!11-inheritance/exercises/*.cpp
11-inheritance/exercises/solutions/*
!11-inheritance/exercises/solutions/*.cpp
11-inheritance/project/*
!11-inheritance/project/*.cpp
!11-inheritance/project/*.md
12-polymorphism/examples/*
!12-polymorphism/examples/*.cpp
12-polymorphism/exercises/*
!12-polymorphism/exercises/solutions
!12-polymorphism/exercises/*.cpp
12-polymorphism/exercises/solutions/*
!12-polymorphism/exercises/solutions/*.cpp
12-polymorphism/project/*
!12-polymorphism/project/*.cpp
!12-polymorphism/project/*.md
13-operator-overloading/examples/*
!13-operator-overloading/examples/*.cpp
13-operator-overloading/exercises/*
!13-operator-overloading/exercises/solutions
!13-operator-overloading/exercises/*.cpp
13-operator-overloading/exercises/solutions/*
!13-operator-overloading/exercises/solutions/*.cpp
13-operator-overloading/project/*
!13-operator-overloading/project/*.cpp
!13-operator-overloading/project/*.md
14-file-io/examples/*
!14-file-io/examples/*.cpp
14-file-io/exercises/*
!14-file-io/exercises/solutions
!14-file-io/exercises/*.cpp
14-file-io/exercises/solutions/*
!14-file-io/exercises/solutions/*.cpp
14-file-io/project/*
!14-file-io/project/*.cpp
!14-file-io/project/*.md
15-exception-handling/examples/*
!15-exception-handling/examples/*.cpp
15-exception-handling/exercises/*
!15-exception-handling/exercises/solutions
!15-exception-handling/exercises/*.cpp
15-exception-handling/exercises/solutions/*
!15-exception-handling/exercises/solutions/*.cpp
15-exception-handling/project/*
!15-exception-handling/project/*.cpp
!15-exception-handling/project/*.md
16-stl-containers/examples/*
!16-stl-containers/examples/*.cpp
16-stl-containers/exercises/*
!16-stl-containers/exercises/solutions
!16-stl-containers/exercises/*.cpp
16-stl-containers/exercises/solutions/*
!16-stl-containers/exercises/solutions/*.cpp
16-stl-containers/project/*
!16-stl-containers/project/*.cpp
!16-stl-containers/project/*.md
17-stl-algorithms-lambdas/examples/*
!17-stl-algorithms-lambdas/examples/*.cpp
17-stl-algorithms-lambdas/exercises/*
!17-stl-algorithms-lambdas/exercises/solutions
!17-stl-algorithms-lambdas/exercises/*.cpp
17-stl-algorithms-lambdas/exercises/solutions/*
!17-stl-algorithms-lambdas/exercises/solutions/*.cpp
17-stl-algorithms-lambdas/project/*
!17-stl-algorithms-lambdas/project/*.cpp
!17-stl-algorithms-lambdas/project/*.md
18-templates/examples/*
!18-templates/examples/*.cpp
18-templates/exercises/*
!18-templates/exercises/solutions
!18-templates/exercises/*.cpp
18-templates/exercises/solutions/*
!18-templates/exercises/solutions/*.cpp
18-templates/project/*
!18-templates/project/*.cpp
!18-templates/project/*.md
19-capstone-project-2/*
!19-capstone-project-2/*.cpp
!19-capstone-project-2/*.md

# Data files generated by running Module 14's File I/O examples/exercises/projects
# (regenerated automatically each run - never something to commit)
*.csv
readings.txt
session_log.txt

# Editor/OS clutter
.vscode/ipch/
.DS_Store
*.dSYM/

# Microsoft Office lock files (created while a .docx/.pptx/.xlsx is open)
~$*
